 .slide-fade-enter-active
    transition: all .3s ease
  .slide-fade-leave-active
    transition: all .3s ease
  .slide-fade-enter
  .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */
    transform: translateY(-10px)
    opacity: 0
