//背景基础色
$bgColor = #409EFF
//顶部条高度
$headerHeight = .86rem

// 字体定义规范
$font-size-small = .2rem // 10px
$font-size-small-x = .24rem // 12px
$font-size-medium = .28rem // 14px
$font-size-medium-x = .32rem // 16px
$font-size-large = .36rem // 18px
$font-size-large-x = .44rem // 22px

// 颜色定义规范
$color-background = #409Eff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #409Eff
$color-theme-d = rgba(13,188,121, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
